label {
    text-transform: capitalize;
}

body{
   
    background: linear-gradient(135deg, #a2dbf3, #84c1fa, #00b4d8);
}

.form-bg{
    background-color: #dbebf3 !important;

}

/* input[type=text], input[type=password], input[type=checkbox], input[type=tel],textarea, input[type=date], select {
   
    background-color: white !important;
   
} */

/* .btn-new {
    padding: 15px 25px;
    
} */