/* body{
    background: #84c1fa;


    background: -webkit-linear-gradient(to right, rgba(55, 163, 240, 0.94), rgba(2, 71, 105, 0.5));

   
    background: linear-gradient(to right, rgba(149, 201, 246, 0.5), rgba(161, 215, 242, 0.5));
} */
body{
    background: linear-gradient(135deg, #a2dbf3, #84c1fa, #00b4d8);
}

a {
    text-decoration: none;
}

.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

.form-right i {
    font-size: 100px;
}

.row{
    --bs-gutter-x: 0 !important;
}

.form-bg{
    background-color: #dbebf3 !important;
}